body {
    margin: 0;
    overflow: hidden;
    background-color: #091a22;
}

.text-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: flex-start; /* Move elements to the top */
    text-align: center;
    font-family: 'Pixelify Sans', sans-serif;
    text-transform: capitalize;
    font-size: 45px;
    position: relative;
    z-index: 1;
    padding-top: 180px; /* Add some padding to adjust the top position */
}
.text-area h2 {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
    animation:  color-change 100s infinite;
    margin: 0; /* Remove default margin */
}

.image-container {
    width: 200px;
    height: 220px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
    position: static; /* Add relative positioning to control z-index */
    z-index: 2; /* Ensure the image is above everything else */
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.link .icon {
    width: 60px;
    height: 60px;
    margin-top: 22px;
}

@keyframes color-change {
    0%{
        -webkit-text-stroke-color: #fff;
        color: #fff;
    }
    25%{
        -webkit-text-stroke-color: rgb(210, 191, 255);
        color: rgb(210, 191, 255);
    }
    50%{
        -webkit-text-stroke-color: rgb(153, 118, 235);
        color: rgb(153, 118, 235);
    }
    75%{
        -webkit-text-stroke-color: rgb(98, 74, 129);
        color: rgb(98, 74, 129);
    }
    100%{
        -webkit-text-stroke-color: #e9c7ff;
        color: #e9c7ff;
    }
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

.round {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #018bc2;
    border: 5px solid #01b4f9;
    opacity: 0;
    box-shadow: 0 0 100px #01b4f9, 0 0 10px #01b4f9, 0 0 20px #01b4f9;
    animation: animate 12s linear infinite, ani-2 8s linear infinite;
}

.round:nth-child(1) { left: 2%; animation-delay: 0.5s; }
.round:nth-child(2) { left: 65%; animation-delay: 1s; }
.round:nth-child(3) { left: 90%; animation-delay: 1.5s; }
.round:nth-child(4) { left: 18%; animation-delay: 2s; }
.round:nth-child(5) { left: 93%; animation-delay: 2.5s; }
.round:nth-child(6) { left: 52%; animation-delay: 3s; }
.round:nth-child(7) { left: 85%; animation-delay: 3.5s; }
.round:nth-child(8) { left: 35%; animation-delay: 4s; }
.round:nth-child(9) { left: 47%; animation-delay: 8s; }
.round:nth-child(10) { left: 45%; animation-delay: 5s; }
.round:nth-child(11) { left: 37%; animation-delay: 5.5s; }
.round:nth-child(12) { left: 72%; animation-delay: 6s; }
.round:nth-child(13) { left: 51%; animation-delay: 6.5s; }
.round:nth-child(14) { left: 14%; animation-delay: 7s; }
.round:nth-child(15) { left: 5%; animation-delay: 2s; }
.round:nth-child(16) { left: 66%; animation-delay: 3s; }
.round:nth-child(17) { left: 9%; animation-delay: 4s; }

/*change opacity*/
@keyframes animate {
    0% { top: 0; opacity: 0.1; }
    20% { top: 17%; opacity: 0.06; }
    40% { top: 34%; opacity: 0.03; }
    60% { top: 50%; opacity: 0; }
}

@keyframes ani-2 {
    0%, 100%{ transform: scale(0.1); }
    50% { transform: scale(2); }
}
