*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: poppins, sans-serif;
}
body{
    background: linear-gradient(rgba(17, 17, 17, 0.97), rgba(17, 17, 17, 0.97)), url(../images/intro.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: black;
}
/***************************************************************/
/*js*/
.pet-container {
    position: relative; /* Fija el contenedor en la pantalla */
    bottom: 8px; /* Espacio desde la parte inferior */
    transform: translateX(0%); /* Ajusta la posición al centro */
    z-index: 2;
}

.pet {
    width: 70px; /* Ajusta el tamaño del GIF según sea necesario */
    height: auto; /* Mantiene la relación de aspecto */
}
/***************************************************************/
.topnav{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #430457;
    padding: 0 15px;
}
.topnav h2{
    color: #fff;
    font-style: oblique;
    user-select: none; /* Evita que se seleccione el texto */
    -webkit-user-select: none; /* Para navegadores basados en WebKit (Safari) */
    -moz-user-select: none; /* Para Firefox */
}
.topnav .menu-icon i{
    color: #fff;
    font-size: 30px;
}

/* Main section and sidebar */

.wrapper {
    position: relative;
    display: flex;
    justify-content: space-around;
}

/*Barra lateral derecha*/
.rightsidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 260px;
    background-color: #37005056;
    color:#fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.title-container {
    display: flex;
    align-items: center; /* Alinea verticalmente la imagen y el texto */
    margin-top: 20px;
    /*border: 1px solid blue;*/
}
.title-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px; /* Espacio entre la imagen y el título */
    user-select: none; /* Evita que se seleccione */
    -webkit-user-select: none; /* Para navegadores basados en WebKit */
    -moz-user-select: none; /* Para Firefox */
    pointer-events: none; /* Evita que se haga clic en la imagen */
}
.title {
    font-family: "Arial", serif;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}
.right-machineimage {
    margin-bottom: 5px;
    max-width: 100%;
    max-height: 100%;
    height: 150px;
    object-fit: cover; /* Ajusta la imagen para llenar el espacio de la sección */
    border-radius: 8px;
    user-select: none; /* Evita que se seleccione */
    -webkit-user-select: none; /* Para navegadores basados en WebKit */
    -moz-user-select: none; /* Para Firefox */
    pointer-events: none; /* Evita que se haga clic en la imagen */
    /*border: 1px solid blue;*/
}

.rightsidebar h1 {
    padding: 0;
    font-size: 23px;
    color: #FFFACD;
}
.rightsidebar .navbar {
    margin-bottom: 60px;
    padding: 0;
    /*border: 1px solid blue;*/
}
.rightsidebar ul {
    list-style-type: none;

}
.rightsidebar ul ul {
    margin-left: 25px;
    padding-left: 0;

}
.rightsidebar ul li{
    margin: 10px 0;
    font-size: 15px;
    font-style: italic;
}
.rightsidebar ul li:hover {
    transform: scale(1.03);
}
.rightsidebar ul li a{
    color: #fff;
    transition: 0.5s;
    position: relative;
}
.rightsidebar a {
    transition: color 0.3s;
}
.rightsidebar a.active {
    color: #4CAF50; /* Color cuando el enlace está activo */
    font-weight: bold;
}

/*Barra lateral izquierda*/
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 260px;
    background-color: #37005056;
    color:#fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
.sidebar .profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none; /* Evita que se seleccione */
    -webkit-user-select: none; /* Para navegadores basados en WebKit */
    -moz-user-select: none; /* Para Firefox */
    pointer-events: none; /* Evita que se haga clic en la imagen */
    margin-top: 50px;
}

.sidebar .profile img{
    width: 150px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
}
.sidebar h2{
    margin: 15px 0;
    color: #ffffff;
    font-size: 24px;
    font-style: oblique;
    user-select: none; /* Evita que se seleccione el texto */
    -webkit-user-select: none; /* Para navegadores basados en WebKit (Safari) */
    -moz-user-select: none; /* Para Firefox */
}
.sidebar h5{
    margin: -4px 0;
    color: #ffffff8f;
    font-size: 15px;
    font-style: italic;
    font-weight: lighter;
    user-select: none; /* Evita que se seleccione el texto */
    -webkit-user-select: none; /* Para navegadores basados en WebKit (Safari) */
    -moz-user-select: none; /* Para Firefox */
}
.sidebar ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-bottom:280px;
    margin-right: 36px;
}
.sidebar ul li{
    margin: 10px 0;
    font-size: 26px;
    font-style: italic;
}
.sidebar ul li:hover {
    transform: scale(1.1);
}
.sidebar ul li a{
    color: #fff;
    transition: 0.5s;
    position: relative;
    font-size: 26px;
}
.sidebar .navbar a {
    text-decoration: none;
}
.sidebar .navbar a:after{
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 0;
    height: 3px;
    background-color: rgb(90, 9, 136);
    transition: 0.5s;
}
.sidebar .navbar a:hover:after{
    width: 100%;
}

.custom-icon {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    transition: 0.3s;
}
.custom-icon:hover {
    transform: rotate(360deg);
}

/* Hero Content */

.open{
    display: block !important;
}


/* Menú colapsado en pantallas pequeñas */
.menu-icon {
    display: none; /* Oculto por defecto, solo visible en pantallas pequeñas */
    cursor: pointer;
    position: relative;
    top: 0px;
    right: 15px;
    font-size: 30px;
    z-index: 1001;
}
/*menú desplegable*/
.topnav .navbar {
    list-style-type: none;
    position: fixed;
    width: 100%;
    top: 80px;
    right: 0;
    background-color: rgba(114, 42, 156, 0.4);
    padding: 12px;
    display: none; /* Oculto inicialmente */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.topnav .navbar li {
    padding: 8px 0;
    margin-bottom: 10px;
}

.topnav .navbar li:last-child {
    border: 0;
}

.topnav .navbar li a {
    color: #fff;
    text-decoration: none;
}

.open {
    display: flex !important; /* Se mostrará cuando se haga click */
}

/***********************************************************************************************/
/* Estilo para el contenedor de writeups */
/* Estilo general */

.writeup-container {
    font-family: Arial, sans-serif;
    max-width: 900px;
    line-height: 1.6;
    margin: 0 auto;
    padding: 45px;
    background-color: #300050c0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.writeup-container h1 {
    text-align: center;
    color: #ffffff; 
}
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}
.machine-image {
    width: 90%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}
/* Estilo para el texto */
.info-box, .info-box-num {
    background-color: rgba(114, 42, 156, 0.3);
    border-left: 4px solid #3f00b3;
    padding: 10px;
    margin: 16px 0;
    color: #333;
    font-size: 15px;
}

.info-box-num ul {
    list-style-type: decimal;
}
.content h1, h2, h3 {
    color: #FFFACD;
    text-align: justify;
}
.content h1 {
    font-size: 24px;
    font-weight: bold;
}
.content h2 {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid rgb(190, 190, 190);
    padding-bottom: 4px;
}
.content h3 {
    font-size: 18px;
    font-weight: bold;
    color: white;
}
.content ol, ul {
    margin-left: 20px;
    padding-left: 20px;
    color: #ffffff;
}
.content li {
    color: #ffffff;
    margin-bottom: 8px;
}
.content ol {
    list-style-type: decimal;
    margin: 20px;
    text-align: justify;
}
ol li::marker {
    color: #afafaf;
    font-weight: bold;
}
.content p, a{
    margin-bottom: 1em;
    color: #ffffff;
    text-align: justify;
    font-size: 16px;
}

/* Estilo para el código con formato de consola */
.console-code {
    background-color: #2d2d2d;
    color: #eaeaea;
    padding: 10px;
    border-radius: 8px;
    margin: 20px 0;
    overflow-x: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.console-code pre {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
}

/* Estilo para imágenes y pie de imagen */
.writeup-image {
    text-align: center;
    margin: 20px 0;
}

.writeup-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.writeup-image .caption, .content .caption-table {
    font-size: 0.9em;
    color: #8b8b8b;
    margin-top: 5px;
    text-align: left;
    font-style: italic;
}

/************Tablas-abajo************/
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 11px;
}
table th, td {
    padding: 8px;
    text-align: center;
    color: #000000;
}
#Summary-of-Findings th, #Scope th{
    background-color: rgb(129, 221, 53);
    text-align: center;
}

/**Nmap scan table**/
#Enumeration table {
    width: 40%;
    margin: auto;
}
#Enumeration th {
    background-color: #3f00b3;
    color: #fff;
    border: 1px solid black;
}
#Enumeration td {
    background-color: #430070c0;
    color: #fff;
    border: 1px solid black;
    font-weight: bold;
}


tr:nth-child(even) {
    background-color: #f9f9f9;
}
/*******Finding Severity abajo*************/
#row-level{
    background-color: #849faf;
    font-weight: bold;
}
#row-level-num {
    background-color: #a0d2f1;
    font-weight: bold;
}
#row-level-num #red{
    color: red;
}
#row-level-num #green{
    color: green;
}
#row-level-num #blue{
    color: blue;
}
#row-level-num #orange{
    color: orange;
}

/*******Finding Severity arriba*************/
#row-1 {
    background-color: #849faf;
}
#row-2 {
    background-color: #a0d2f1;
}
#row-1 #red, #row-2 #red {
    color: red;
}
#row-1 #green, #row-2 #green {
    color: green;
}
#row-1 #blue, #row-2 #blue {
    color: blue;
}
#row-1 #orange, #row-2 #orange {
    color: orange;
}

/******************************************/
/*Columna derecha*/
#tech-details {
    width: 60%;
    margin: auto;
}
#tech-details #column-2-1, #tech-details #column-th-2{
    background-color: #849faf;
    text-align: left;
    font-weight: lighter;
}
/*Columna derecha*/
#tech-details #column-2-2{
    background-color: #a0d2f1;
    text-align: left;
}
/*Colores columna izquierda*/
#tech-details #column-1-red, #tech-details #column-th-1-red{
    width: 150;
    background-color: rgb(253, 60, 60);
    font-weight: bold;
}
#tech-details #column-1-green, #tech-details #column-th-1-green{
    width: 150;
    background-color: green;
    font-weight: bold;
}
#tech-details #column-1-orange, #tech-details #column-th-1-orange{
    width: 150;
    background-color: orange;
    font-weight: bold;
}

/**Appèndices tabless**/

#Appendices-table th{
    background-color: greenyellow;
}
#Appendices-table #c1-f1, #c2-f1, #c1-f3, #c2-f3 {
    background-color: #89bacf;
}
#Appendices-table #c1-f2, #c2-f2 {
    background-color: #9da6ac;
}
#Appendices-table #c1-f1 {
    color: red;
}
#Appendices-table #c1-f2 {
    color: orange;
}
#Appendices-table #c1-f3 {
    color: green;
}
#Appendices-table #c2-f1, #c2-f2, #c2-f3 {
    text-align: left;
    width: 700px;
}

/************Tablas-arriba************/


/* Estilo para cada tarjeta de writeup */

.table-contents ul ul{
    margin-left: 10px;
}
a:hover{
    text-decoration: underline;
}

/*Evitar el cambio de color al hacer clic*/
a:link,
a:visited {
    color: #0038ee;
}


/*****************************************************************************************/

/*Responsive Design*/

@media (min-width:1430px){
    .topnav{
        display: none;
    }
}

@media(max-width:1430px){
    .sidebar{
        display: none;
    }
    .rightsidebar {
        display: none;
    }
    .topnav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba(114, 42, 156, 0.3);
        padding: 12px;
        position: fixed; 
        width: 100%; 
        top: 0; 
        z-index: 1000;
    }
    .menu-icon {
        display: block; /* Mostrar el ícono de menú en pantallas pequeñas */
    }
    .navbar {
        top: 60px; /* Ajustar la posición del menú */
        right: 15px;
        background-color: #430457;
        width: 200px; /* Ajusta el tamaño del menú */
        border-radius: 8px;
        display: none;
    }
    .writeup-container {
        margin-top: 80px;
    }
    .pet-container {
        position: relative; /* Fija el contenedor en la pantalla */
        bottom: -60px; /* Espacio desde la parte inferior */
        transform: translateX(0%); /* Ajusta la posición al centro */
        z-index: 2;
    }
}

/*****************************************************************************************/
