*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: poppins, sans-serif;
}
body{
    background: linear-gradient(rgba(17, 17, 17, 0.98), rgba(17, 17, 17, 0.98)), url(../images/intro.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: black;
}
/***************************************************************/
.pet-container {
    position: relative; /* Fija el contenedor en la pantalla */
    bottom: 8px; /* Espacio desde la parte inferior */
    transform: translateX(0%); /* Ajusta la posición al centro */
    z-index: 2;
}

.pet {
    width: 70px; /* Ajusta el tamaño del GIF según sea necesario */
    height: auto; /* Mantiene la relación de aspecto */
}
/***************************************************************/
.topnav{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #430457;
    padding: 0 15px;
}
.topnav h2{
    color: #fff;
    font-style: oblique;
    user-select: none; /* Evita que se seleccione el texto */
    -webkit-user-select: none; /* Para navegadores basados en WebKit (Safari) */
    -moz-user-select: none; /* Para Firefox */
}
.topnav .menu-icon i{
    color: #fff;
    font-size: 30px;
}

/* Main section and sidebar */

.wrapper{
    position: relative;
    display: flex;
    justify-content: space-around;
 }
 /*Barra lateral izquierda*/
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 260px;
    background-color: #37005056;
    color:#fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
.sidebar .profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none; /* Evita que se seleccione */
    -webkit-user-select: none; /* Para navegadores basados en WebKit */
    -moz-user-select: none; /* Para Firefox */
    pointer-events: none; /* Evita que se haga clic en la imagen */
}

.sidebar .profile img{
    width: 150px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
}
.sidebar h2{
    margin: 15px 0;
    color: #ffffff;
    font-size: 24px;
    font-style: oblique;
    user-select: none; /* Evita que se seleccione el texto */
    -webkit-user-select: none; /* Para navegadores basados en WebKit (Safari) */
    -moz-user-select: none; /* Para Firefox */
}
.sidebar h5{
    margin: -4px 0;
    color: #ffffff8f;
    font-size: 15px;
    font-style: italic;
    font-weight: lighter;
    user-select: none; /* Evita que se seleccione el texto */
    -webkit-user-select: none; /* Para navegadores basados en WebKit (Safari) */
    -moz-user-select: none; /* Para Firefox */
}
.sidebar ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-top: -100px;
}
.sidebar ul li{
    margin: 10px 0;
    font-size: 26px;
    font-style: italic;
}
.sidebar ul li:hover {
    transform: scale(1.1);
}
.sidebar ul li a{
    color: #fff;
    transition: 0.5s;
    position: relative;
}
.sidebar .navbar a:after{
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 0;
    height: 3px;
    background-color: rgb(90, 9, 136);
    transition: 0.5s;
}
.sidebar .navbar a:hover:after{
    width: 100%;
}

.custom-icon {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    transition: 0.3s;
}
.custom-icon:hover {
    transform: rotate(360deg);
}

/* Hero Content */

.open{
    display: block !important;
}


/* Menú colapsado en pantallas pequeñas */
.menu-icon {
    display: none; /* Oculto por defecto, solo visible en pantallas pequeñas */
    cursor: pointer;
    position: relative;
    top: 0px;
    right: 15px;
    font-size: 30px;
    z-index: 1001;
}
/*menú desplegable*/
.topnav .navbar {
    list-style-type: none;
    position: fixed;
    width: 100%;
    top: 80px;
    right: 0;
    background-color: rgba(114, 42, 156, 0.4);
    padding: 12px;
    display: none; /* Oculto inicialmente */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.topnav .navbar li {
    padding: 8px 0;
    margin-bottom: 10px;
}

.topnav .navbar li:last-child {
    border: 0;
}

.topnav .navbar li a {
    color: #fff;
    text-decoration: none;
}

.open {
    display: flex !important; /* Se mostrará cuando se haga click */
}

/***********************************************************************************************/
/* Estilo para el contenedor de writeups */
/* Estilo general */

.writeup-container {
    font-family: Arial, sans-serif;
    max-width: 900px;
    line-height: 1.6;
    margin: 0 auto;
    padding: 45px;
    background-color: #370050c0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.writeup-container h1 {
    text-align: center;
    color: #ffffff;
}
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}
.machine-image {
    width: 90%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}
/* Estilo para el texto */
.info-box {
    background-color: rgba(114, 42, 156, 0.3);
    border-left: 4px solid #3f00b3;
    padding: 10px;
    margin: 16px 0;
    color: #333;
    font-size: 15px;
}
.content h1, h2, h3 {
    color: #ffffff;
    text-align: justify;
}
.content h1 {
    font-size: 24px;
    font-weight: bold;
}
.content h2 {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid rgb(190, 190, 190);
    padding-bottom: 4px;
}
.content h3 {
    font-size: 18px;
    font-weight: bold;
    color: white;
}
.content ol, ul {
    margin-left: 20px;
    padding-left: 20px;
    color: #ffffff;
}
.content li {
    color: #ffffff;
    margin-bottom: 8px;
}
.content ol {
    list-style-type: decimal;
    margin: 20px;
    text-align: justify;
}
ol li::marker {
    color: #afafaf;
    font-weight: bold;
}
.content p {
    margin-bottom: 1em;
    color: #ffffff;
    text-align: justify;
}

/* Estilo para el código con formato de consola */
.console-code {
    background-color: #2d2d2d;
    color: #eaeaea;
    padding: 10px;
    border-radius: 8px;
    margin: 20px 0;
    overflow-x: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.console-code pre {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
}

/* Estilo para imágenes y pie de imagen 
.writeup-image {
    text-align: center;
    margin: 20px 0;
}

.writeup-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.writeup-image .caption {
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
    text-align: center;
}
*/
/* Estilo para cada tarjeta de writeup */
/*****************************************************************************************/

/*Responsive Design*/

@media (min-width:1430px){
    .topnav{
        display: none;
    }
}

@media(max-width:1430px){
    .sidebar{
        display: none;
    }
    .topnav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba(114, 42, 156, 0.3);
        padding: 12px;
        position: fixed; 
        width: 100%; 
        top: 0; 
        z-index: 1000;
    }
    .menu-icon {
        display: block; /* Mostrar el ícono de menú en pantallas pequeñas */
    }
    .navbar {
        top: 60px; /* Ajustar la posición del menú */
        right: 15px;
        background-color: #430457;
        width: 200px; /* Ajusta el tamaño del menú */
        border-radius: 8px;
        display: none;
    }
    .writeup-container {
        margin-top: 80px;
    }
    .pet-container {
        position: relative; /* Fija el contenedor en la pantalla */
        bottom: -60px; /* Espacio desde la parte inferior */
        transform: translateX(0%); /* Ajusta la posición al centro */
        z-index: 2;
    }
}

/*****************************************************************************************/
